<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
		</head>
		<body>
			<div id="app">
			985、211大学:清华大学、北京大学、复旦大学、上海交通大学、中国科学技术大学
			<br>
			211大学：东华大学、南京理工大学、大连理工大学、西安电子科技大学

			<br><br>
			
			<input v-model="schoolName">
			<h2 v-if="schoolName==''">null</h2>
			<li v-else-if="schoolName=='清华大学'">是985、211大学</li>
			<li v-else-if="schoolName=='北京大学'">是985、211大学</li>
			<li v-else-if="schoolName=='上海交通大学'">是985、211大学</li>
			<li v-else-if="schoolName=='中国科学技术大学'">是985、211大学</li>
			<li v-else-if="schoolName=='复旦大学'">是985、211大学</li>
			<li v-else-if="schoolName=='东华大学' || schoolName=='南京理工大学' || schoolName=='大连理工大学' || schoolName=='西安电子科技大学'">是211大学</li>
			
			</div>
			
			<script>
				let a=new Vue({
					el:'#app',
					data:{
						
						schoolName:''
					}
				})
			</script>
	</body>
</html>
